@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.background-gradient{
    background-color: rgb(49, 46, 129);
    background-image: radial-gradient(at 104.15% -5.50%, rgb(2, 132, 199) 0, transparent 41%), radial-gradient(at 88.33% 84.83%, rgb(79, 70, 229) 0, transparent 61%), radial-gradient(at 18.20% 8.50%, rgb(99, 102, 241) 0, transparent 98%), radial-gradient(at 0.94% 55.50%, rgb(229, 231, 235) 0, transparent 76%), radial-gradient(at 51.60% 47.00%, rgb(245, 158, 11) 0, transparent 100%);

    background-color: #000000;
}

@keyframes grainy {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


