@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
    background: #F2E9E4;
}

.noise {
    position: absolute;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-size: 90vw;
        background-image: url('../public/images/noise_1_cleaned.jpg');
        z-index: 0;
        opacity: 0.4;
    }

    z-index: 0;
}


/* This breakpoint changes the width of the noise texture on ultrawide screens,
 * to better align with the text */
@media (min-width: 1700px) {
    .noise {
        background-size: 80vw;
    }
}
