.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.hand-wave {
    transform: scaleX(-1);
}

@keyframes handWave {
    0% {
        opacity: 0;
        transform: scaleX(-1) translateY(10px);
    }

    50% {
        opacity: 100%;
    }

    60% {
        opacity: 100%;
        transform: scaleX(-1) rotate(0) translateY(0px);
    }

    80% {
        opacity: 100%;
        transform: scaleX(-1) rotate(-15deg);
    }

    100% {
        opacity: 100%;
        transform: scaleX(-1) rotate(0deg);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}
