.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes revealOpacity {
    0% {
        opacity: 0;
        filter: blur(1px);
    }

    70% {
        filter: blur(0px);
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideY {
    0% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(0);
    }
}

.hand-wave {
    transform: scaleX(-1);
}

@keyframes handWave {
    0% {
        opacity: 0;
        transform: scaleX(-1) translateY(8px);
    }

    60% {
        opacity: 100%;
        transform: scaleX(-1) rotate(0) translateY(0px);
    }

    80% {
        opacity: 100%;
        transform: scaleX(-1) rotate(-15deg);
    }

    100% {
        opacity: 100%;
        transform: scaleX(-1) rotate(0deg);
    }
}
