@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');


@import "normalize.css";
@import "animations.css";

:root {
    --font-2xl: 44px;
    --font-xl: 32px;
    --font-lg: 22px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-xs: 12px;

    --text: #FFFFFF;

    --spacing-sm: 0.25rem;
    --spacing-md: 0.6rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2.5rem;
    --spacing-2xl: 3.5rem;

    --light: #F8F8F8;
    --dark: rgb(15, 15, 15);
    --primary: #034694;

    --rounded-lg: 0.5rem;
    --rounded-md: 0.3rem;
}

main {
    position: relative;
    width: 100dvw;
    height: 100dvh;
}

body {
    font-family: "Geist Mono", sans-serif;
    cursor: url("cursor.svg") 0 0, default;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Geist", sans-serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

strong {
    font-weight: bold;
}
