@import url(https://api.fontshare.com/v2/css?f[]=monaspace@700,400&display=swap);
@import "normalize.css";
@import "animations.css";

:root {
    --font-2xl: 3rem;
    --font-xl: 42px;
    --font-lg: 32px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-xs: 12px;

    --text: #FFFFFF;

    --spacing-sm: 0.25rem;
    --spacing-md: 0.6rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 3rem;

    --light: #F8F8F8;
    --dark: #0f0f0f;
    --primary: #034694;

    --rounded-md: 0.3rem;
}

main {
    position: relative;
    width: 100dvw;
    height: 100dvh;
}

body {
    font-family: 'Monaspace', monospace;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
